#container{
    font-family: roya,tahoma;
    font-size: 20px;
    direction: rtl;
    margin: 5px auto;
    width: 95%;
    background-color: #555;
    color:#234;
    padding: 5px;
    transition: all 0.3s ease-out 0s;
    
}
.test{
    width: 100%;
    background: rgb(221, 221, 221);
    height: 35px;
    float: right;
    padding-top: 5px;  
}
.c {
    width: 950px;
    margin: 0px auto;
}
.b{
    width: 467px;
    height: 30px;
    float: right;
}

.a{
    width: 455px;
    padding: 5px;
    border: 1px solid rgb(204, 204, 204);
    height: 18px;
    background: rgb(238, 238, 238);
}
.a .search-form {
    float: right;
    width: 100%;
}
.a.search-form .search-input {
    float: right;
    background: transparent;
    border: medium none;
    width: 260px;
    font-family: tahoma;
    font-size: 11px;
    color: rgb(153, 153, 153);
}

 



* {
    outline: 0px none;
}
.cl{
    float: left;
    width: 467px;
    height: 30px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);

    
    
}
.d{
    width: 145px;
    height: 30px;
    float: right;
    margin-left: 15px;
    
        
}
.blue .d a {
    background-color: rgb(2, 119, 158);
    border: 1px solid rgb(3, 74, 97);
    
}
.dd {
    border-right: 1px solid rgb(204, 204, 204);
    width: 125px;
    padding: 0px 10px;
        width: 145px;
    height: 30px;
    float: right;
    margin-left: 15px;
    
}
.dd a {
    color: rgb(153, 153, 153);
    font-family: BYekan;
    font-size: 13px;
    line-height: 27px;
}


.ac {
    border-right: 1px solid rgb(204, 204, 204);
    border-left: 1px solid rgb(204, 204, 204);
    width: 124px;
    padding: 0px 10px;
}
.ac a {
    color: rgb(153, 153, 153);
    font-size: 13px;
    line-height: 27px;
}
.blue .ad {
    background-position: 60px 0px;
}
.hed {
    border-bottom: 2px solid rgb(2, 119, 158);
    float: right;
    width: 100%;
    background: rgb(238, 238, 238);
    height: 160px;
    position: relative;
  
}
.cen {
    width: 950px;
    margin: 0px auto;
}
.slide {
    width: 942px;
    background: rgb(204, 204, 204);
    float: right;
    height: 342px;
    margin-top: -150px;
    border-bottom: 2px solid rgb(2, 119, 158);
    border-right: 2px solid rgb(2, 119, 158);
    border-top: 2px solid rgb(2, 119, 158);
    border-left: 2px solid rgb(2, 119, 158);
    
}

.element {
    display: block;
    text-align: start;
    float: none;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: auto;
    width: 942px;
    height: 350px;
    margin: 0px;
    overflow: hidden;
    
}


 .men {
    background-color: rgb(2, 119, 158);
    width: 950px;
    position: absolute;
    height: 45px;
    z-index: 30;
    float: right;
    border-radius: 5px 5px 0px 0px;
    font-family: BYekan;
    font-size: 17px;
    line-height: 46px;
     margin-top: 115px;
   
}
.men li {
    float: right;
    border: medium none;
    text-align: center;
    margin: -10px  10px;
    list-style-type: none;
    padding-left: 10px;
}
a {
    color: rgb(238,238,238);
    text-decoration: none;
    transition: all 0.3s ease 0s;
 
}

.men a {
    text-decoration: none;
    height: 45px;
    line-height: 45px;
    padding: 0px,12px;
    color: rgb(238,238,238);
    display: inline-block;
    position: relative;
    margin-bottom: 50px;
}

.log {
    float: left;
    margin-top: 13px;
    margin: -115px;
    padding: 0px;
    border: 0px none;
    font: inherit;
   

}
.lo {
    float: right;
    margin-top: -100px;
    
    padding: 0px;
    border: 0px none;
    font: inherit;
   
}


* {
    outline: 0px none;
}


.ads {
    float: right;
    width: 300px;
    height: 150px;
    margin: 180px;
    margin-right: 3px;
    
   
}
.to {
    float: right;
    width: 950px;
}

.ban {
    width: 300px;
    height: 150px;
    float: right;
}

.too {
    float: right;
    width: 300px;
    height: 150px;
    
}
.bann {
    width: 300px;
    height: 150px;
    float: right;
     margin-right:320px;
    margin-top: -150px;

}

.tooo {
    float: right;
    width: 300px;
   
    height: 150px;
}
    

.banne {
    float: right;
    width: 228px;
     margin-right:720px;                          
    height: 100px;
    margin-top: -160px;
}

.cont li{
    height: 30px;
    padding-bottom: 0px;
    background:rgb(51, 51, 51);
    font-family: tahoma;
    font-size: 11px;
margin-right: 0px;
}




.top{
    width: 30px;
    height: 15px;
    overflow: hidden;
}

.content {
    float: right;
    width: 950px;
    margin-top: 20px;
}

.cont {
    float: right;
    width: 950px;
    margin-top: 20px;
}


.tt-ads {
    float: right;
    width: 1010px;
    margin-top:2px;
    padding: 0px;
    position: relative;
    
}

.tt-ads ul li {
    float: right;
    width: 180px;
    height: 180px;
    border: 1px solid rgb(255, 255, 255);
    margin-left:10px;
    margin-bottom: 0px;
    background: rgb(238, 238, 238);
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease 0s;
    
}




.tt-ads-d h3 {
    font-weight: bolder;
    font-size: 13px;
}

 .m {
    float: right;
    width: 950px;
    margin-top: 10px;
    vertical-align: baseline;
    font: inherit;
    border: 0px none;
    padding: 0px;
    margin:20px;
}

.m-c {
    float: left;
    width: 680px;
    vertical-align: baseline;
    font: inherit;
    border: 0px none;
    padding: 0px;
    margin: 0px;
}
.m-c-box {
    float: right;
    width: 678px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(187, 187, 187);
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 0px;
    margin: 0px;
}

h1.m-c-box-title {
    float: right;
    width: 658px;
    background: url("http://www.lastsecond.ir/interface/images/xbox-title.png.pagespeed.ic.hlI5LjSyvi.png") repeat scroll 0% 0% transparent;
    height: 45px;
    position: relative;
    font-family: BYekan;
    font-size: 17px;
    line-height: 45px;
    padding-right: 20px;
   
    
    font: inherit;
    border: 0px none;
    padding: 0px;
    margin: 0px;
}
#pager{
    width: 658px;
vertical-align: baseline;
font: inherit;
border: 0px none;
padding: 0px;
margin: 0px;
}

.blue #pager a.selected {
    color: rgb(2, 119, 158);
}

#pager a {
    color: rgb(153, 153, 153);
    margin-left: 15px;
    float: right;
}

.m-c-box-body {
    float: right;
    width: 658px;
    padding:0px;
    font: inherit;
    margin: 0px;
    color: rgb(51, 51, 51);
}

.element {
    display: block;
    text-align: start;
    float: none;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    overflow: hidden;
    margin: 0px;
    height: 966px;
    width: 658px;
    z-index: auto;
}













    
    










     
     
     
     
     


  
    
    


















   
   
    
    
    
    
    